<html>

<head>
    <title>HRC Stowed Background Study: Hrc I 115 Cumulative</title>
    <link rel="stylesheet" type="text/css" href="stowed_style_sheet.css" />

    <script language="JavaScript">
        function WindowOpener(imgname) {
            msgWindow = open("","displayname","toolbar=no,directories=no,menubar=no,location=no,scrollbars=no,status=no,,width=850,height=850,resize=no");
            msgWindow.document.clear();
            msgWindow.document.write("<html><title>Trend plot:   "+imgname+"</TITLE>");
            msgWindow.document.write("<body bgcolor='black'>");
            msgWindow.document.write("<img src='../Maps/Hrc_i_115/"+imgname+"' border =0 width=100% ><p></p></body></html>")
            msgWindow.document.close();
            msgWindow.focus();
        }
    </script>

    <style>
        th {
            width: 30%;
        }
    </style>
</head>

<body>

<h2>Hrc I Cumulative Maps</h2>

<h3 style='position:absolute;right:30px;width=40%;padding-bottom:50px'>
    <table border=0>
        <tr>
            <th colspan=2> <a href='../hrc_stowed_position_study.html'> Back To Main Page </a> </th>
        </tr>
    </table>
</h3>



<div style='padding-top:10px;'>

    <span style='font-size:105%;font-weight:bold'>
        Data: 
    </span>
    
    <span style='font-size:105%;font-weight:bold; padding-left:20px'>
        <a href="./../Data/Hrc_i_115/hrc_i_115_total_norm.fits.gz">
        Image Data Fits File
        </a>
    </span>

    <div style='padding-bottom:40px'>
    </div>

    <table border=0>
        <tr>
            <th>Center Peak Map</th><th>&#160;</th><th>Uniform Scale Map</th>
        </tr>
        <tr>
            <th>
                <a href="javascript:WindowOpener('hrc_i_115_total_norm_b.png')">
                    <img src='../Maps/Hrc_i_115/hrc_i_115_total_norm_b.png' style='width:95%'>
                </a>
            </th>
            <th>
                <a href="javascript:WindowOpener('hist_total_norm.png')">
                    <img src='../Maps/Hrc_i_115/hist_total_norm.png'        style='width:95%'>
                </a>
            </th>
            <th>
                <a href="javascript:WindowOpener('hrc_i_115_total_norm.png')">
                    <img src='../Maps/Hrc_i_115/hrc_i_115_total_norm.png'   style='width:95%'>
                </a>
            </th>
        </tr>
        <tr>
            <th>(Click an image to enlarge)</th>
            <th colspan=2>
            <img src='../Maps/Hrc_i_115/scale.png' style='width:95%'>
            <br />
            (Scale for Uniform Scale Map on Right)
            </th>
        </tr>
    </table>
</div>

<div style='padding-bottom:20px'>

    <h2>Lev2 </h2>

    <span style='font-size:105%;font-weight:bold'>
        Data: 
    </span>
    
    <span style='font-size:105%;font-weight:bold; padding-left:20px'>
        <a href="./../Data/Hrc_i_115/hrc_i_115_lev2_total_norm.fits.gz">
        Image Data Fits File
        </a>
    </span>

    <table border=0>
        <tr>
            <th>Center Peak Map</th><th>&#160;</th><th>Uniform Scale Map</th>
        </tr>
        <tr>
            <th>
                <a href="javascript:WindowOpener('hrc_i_115_lev2_total_norm_b.png')">
                    <img src='../Maps/Hrc_i_115/hrc_i_115_lev2_total_norm_b.png' style='width:95%'>
                </a>
            </th>
            <th>
                <a href="javascript:WindowOpener('hist_lev2_total_norm.png')">
                    <img src='../Maps/Hrc_i_115/hist_lev2_total_norm.png'        style='width:95%'>
                </a>
            </th>
            <th>
                <a href="javascript:WindowOpener('hrc_i_115_lev2_total_norm.png')">
                    <img src='../Maps/Hrc_i_115/hrc_i_115_lev2_total_norm.png'   style='width:95%'>
                </a>
            </th>
        </tr>
        <tr>
            <th>(Click an image to enlarge)</th>
            <th colspan=2>
            <img src='../Maps/Hrc_i_115/scale.png' style='width:95%'>
            <br />
            (Scale for Uniform Scale Map on Right)
            </th>
        </tr>

    </table>

</div>


<h3 style='text-align:right;padding-right:40px'>
    <a href='../hrc_i_115_main.html'> Back To Main Page </a>
</h3>

<hr />
<p style='padding-top: 5px;padding-bottom:10px'>
If you have any questions about this page, please contact: <a href='mailto:tisobe@cfa.harvard.edu'>tisobe@cfa.harvard.edu</a>.
</p>

</body>
</html>


